.vider-wrapper {
    position: relative;
    width: 100%;
    height: 100%; /* Full height like Instagram Reels */  
    
}

.vider-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    scroll-snap-align: start;
}
.bottom{
    display: flex;
    align-items: flex-end;
    height: 100%;
}